*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#head{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
}
#head .nav-image{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
}
#head .nav-content ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
#head .nav-content ul li a{
    text-decoration: none;
    color: #000000;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 12px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;
}