*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#head{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
}
#head .nav-image{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
}
#head .nav-content ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
#head .nav-content ul li a{
    text-decoration: none;
    color: #000000;
}
.button{
    border: none;
    border-radius: 2px;
    padding: 12px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;
}
.button1{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
}
.shared-color{
    color: #30B868;
}
.shared-color1{
    color: #FFFFFF;
}
.button:hover{
    background-color: blueviolet;
    color: #000000;
}
.button1:hover{
    background-color: blueviolet;
    color: #000000;
}

#banner{
    max-width: 1600px;
    height: 574px;
    background-image: url(assets/hero-bg.png);
    border: 1px solid black;
}
#banner .banner-content{
    max-width: 1360px;
    height: 379px;
    margin: 115px 120px 179px;
}
#banner .banner-content .early{
    max-width: 200px;
    height: 35px;
    background-color: #FFFFFF;
    color:#30B868;
    margin: 0 auto;
    border-radius: 1000px;
}
#banner .banner-content .early p{
    text-align: center; 
    padding-top: 10px;
}
#banner .banner-content .banner-head{
    max-width: 468px;
    height: 80px;
    margin: 0 auto;
    margin-top: 16px;
}
#banner .banner-content .banner-head h1{
    text-align: center;
}
#banner .banner-content .banner-para{
    max-width: 1360px;
    height: 60px;
    text-align: center;
    margin: 16px 310px 32px;
    color: #FFFFFF;
    font-size: 18px;
}
#banner .banner-content .btn-grp{
    margin: 32px 447px 179px;
    gap: 16px;
}

#notes{
    max-width: 1600px;
    height: 448px;
}
#notes .notes-text{
    max-width: 1360px;
    height: 152px;
    margin: 0 auto;
}
#notes .notes-text h2{
    font-size: 48px;
    color: #001931;
    text-align: center;
    padding-top: 40px;
}
#notes .notes-text p{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 44px;
}
#notes .notes-card{
    max-width: 1360px;
    height: 295px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
#notes .notes-card .card{
    width: 322px;
    height: 295px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.251);
    background-color: #FFFFFF;
  
}
#notes .notes-card .card .image-bg{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    margin: 69.5px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notes .notes-card .card h3{
    text-align: center;
    width: 274px;
    height: 58px;
    font-size: 24px;
    color: #001931;
    margin: 0 auto;
    margin-top: 16px;
}
#notes .notes-card .card p{
    width: 274px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
    color: #627382;
}
#brain{
    max-width: 1600px;
    height: 480px;
   
}
#brain .brain-container{
    max-width: 1360px;
    height: 75%;
    margin: 120px;
    display: flex;
   
}
#brain .brain-container .brain-image{
    width: 600px;
    height: 100%;
   
}
#brain .brain-container .brain-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#brain .brain-container .brain-content{
    width: 560px;
    height: 57%;
    margin: 30px 0 50px 120px;
}
#brain .brain-container .brain-content h4{
    font-size: medium;
    color: #30B868;
}
#brain .brain-container .brain-content h2{
    font-weight: bold;
    font-size: 32px;
    width: 430px;
    margin-top: 12px;
}
#brain .brain-container .brain-content p{
    color: black;
    margin-top: 14px;
    line-height: 28px;
}
#brain .brain-container .brain-content .desc{
    width: 560px;
    height: 67%;
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
}
#challenge{
    max-width: 1600px;
    height: 406px;
    
}
#challenge .challenge-content{
    width: 1360px;
    height: 360px;
    margin: 0 auto 120px;
    background-color: #F7F6F2;
    border: 1px solid #F7F6F2;
}
#challenge .challenge-content h2{
    width: 1280px;
    height: 48px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 60px auto 16px;
}
#challenge .challenge-content p{
    width: 1280px;
    height: 48px;
    text-align: center;
    line-height: 24px;
    color: #627382;
}
#challenge .challenge-content .ch-btn{
    text-align: center;
    margin: 24px 543px 16px 503px;
}
#footer{
    max-width: 1600px;
    height: 300px;
    background-color: #001931;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer .footer-content1{
    width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#footer .footer-content1 .footer-social h4{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
#footer .footer-content1 .social-icon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#footer .footer-content1 .footer-social .foot-icon{
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#footer .footer-content1 .footer-social .social-icon .foot-icon a{
    font-size: 12px;
    color: #000000;
}
#footer .footer-content1 .footer-social .social-icon .foot-icon:hover{
    background-color: blue;
    color: #000000;
}
#footer hr{
    width: 1360px;
    margin-top: 80px;
    color: #627382;
}
#footer p{
    margin-top: 30px;
    line-height: 24px;
    color: #FAFAFA;
}